// Admin
.admin {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  @media (min-width: 768px) {
    display: flex;
  }

  // Input checkbox
  #admin-check {
    display: none;
    visibility: hidden;

    // Activo
    &:checked ~ .admin__content .admin__content-header .admin__header-bar span {
      background-color: transparent;
    }

    &:checked ~ .admin__content .admin__content-header .admin__header-bar span::before {
      top: -13px;

      transform: rotate(135deg);
      background-color: var(--colorBlanco);
    }

    &:checked ~ .admin__content .admin__content-header .admin__header-bar span::after {
      top: -31px;

      transform: rotate(-135deg);
      background-color: var(--colorBlanco);
    }
  }

  // Fondo oscuro - cerrar nav
  .admin__sidenav-close {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: none;
    visibility: hidden;

    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s ease;
    z-index: 20;
  }

  // TODO: Check
  #admin-check:checked ~ .admin__sidenav-close {
    display: block;
    visibility: visible;
  }

  // Sidenav
  .sidenav {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;

    background-color: var(--colorPrincipal);
    width: 60%;

    transition: 0.5s ease;
    z-index: 20;

    @media (min-width: 768px) {
      position: relative;
      left: 0;
      width: 20rem;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: 1200px) {
      width: 30rem;
    }

    h3 {
      padding: 2.5rem 1rem;
      text-align: center;
      color: var(--colorBlanco);
    }

    // Enlaces
    .sidenav__link {
      color: var(--colorTerciario);
      max-height: calc(100vh - 10rem);

      overflow-y: scroll;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      
      &::-webkit-scrollbar:vertical {
        width: 0;
      }
      
      &::-webkit-scrollbar-button:increment,
      &::-webkit-scrollbar-button {
        display: none;
      } 
      
      &::-webkit-scrollbar:horizontal {
        height: 0;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: var(--colorSecundario);
        border-radius: 20px;
        border: 2px solid transparent;
      }
      
      &::-webkit-scrollbar-track {
        border-radius: 20px;  
      }

      a {
        color: var(--colorTerciario);
      }

      // Notificaciones
      .sidenav__link-notify {
        @media (min-width: 768px) {
          display: none;
          visibility: hidden;
        }
      }

      // Tipo
      .sidenav__link-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: 2rem 1rem;
        cursor: pointer;
        
        transition: 0.5s ease;

        &:hover {
          color: var(--colorBlanco);
        }

        div {
          display: flex;
          align-items: center;

          fa-icon {
            margin-right: 1rem;
          }
        }
      }

      // Categorias
      ul {
        background-color: #33383d;

        a {
          position: relative;

          display: block;

          padding: 2rem 1rem;
          cursor: pointer;
          z-index: 5;

          transition: 0.5s ease;

          &:hover,
          &.active {
            color: var(--colorBlanco);
          }

          &.active::after,
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;

            height: 100%;
            width: 0;
            background-color: var(--colorSecundario);
            transition: 0.5s ease;
            z-index: -1;
          }

          &.active::after,
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }

  // TODO: Check
  #admin-check:checked ~ .sidenav {
    left: 0;
  }

  // Contenido
  .admin__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;

    @media (min-width: 768px) {
      overflow-x: hidden;
      flex: 1;
    }

    // Cabecera
    .admin__content-header {
      display: flex;
      align-items: center;
      
      position: relative;

      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

      @media (min-width: 768px) {
        padding: 1rem 0;
      }

      // Menu bar - Mobile
      .admin__header-bar {
        display: flex;
        align-items: center;
        justify-content: center;
  
        width: 55px;
        height: 80px;
        cursor: pointer;
        transition: 0.5s ease;
  
        @media (min-width: 768px) {
          display: none;
          visibility: hidden;
        }
  
        span {
          background-color: var(--colorPrincipal);
          width: 24px;
          height: 3px;
          border-radius: 2px;
          transition: 0.5s ease;
  
          &::after, 
          &::before {
            content: '';
            position: relative;
  
            display: inline-block;
  
            background-color: var(--colorPrincipal);
            width: 24px;
            height: 3px;
            border-radius: 2px;
            transition: 0.5s ease;
          }
  
          &::before {
              top: -22px;
          }
  
          &::after {
              top: -20px;
          }
        }
      }

      // Titulo
      .admin__header-title {
        display: flex;
        justify-content: center;
        align-items: center;
  
        flex: 1;
        
        color: var(--colorPrincipal);
        font-weight: 700;
        cursor: pointer;
  
        p {
            align-self: flex-end;
            margin-left: 0.5rem;
        }
      }

      // Botón de notificaciones
      .admin__header-notify {
        display: none;
        visibility: hidden;

        color: var(--colorPrincipal);
        border-radius: 1rem;
        margin-right: 1rem;
        padding: 1rem 2rem;
        font-size: 2.3rem;

        transition: 0.5s ease;

        &:active {
          background-color: var(--colorTerciario);
        }

        @media (min-width: 768px) {
          display: inline-block;
          visibility: visible;
        }

        .admin__header-icon {
          cursor: pointer;
        }
      }

      // TODO: Check
      #check-notify {
        display: none;
        visibility: hidden;
      }

      #check-notify:checked ~ .admin__header-notifications {
        @media (min-width: 768px) {
          display: block;
          visibility: visible;
        }
      }

      // Contenedor de las notificaciones
      .admin__header-notifications {
        display: none;
        visibility: hidden;

        position: absolute;
        top: 78%;
        right: 0;

        // Triangulo
        .admin__header-triangle {
          position: relative;
          right: -83%;
          bottom: 100%;

          width: 0;
          height: 0;
          border-bottom: 20px solid var(--colorBlanco);
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;

          z-index: 10;
        }

        // Notificaciones
        .admin__notifications-content {
          width: 300px;
          max-height: calc(100vh - 40rem);
          overflow-y: scroll;

          background-color: var(--colorBlanco);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

          @media (min-width: 1400px) {
            width: 350px;
          }

          // Scroll
          &::-webkit-scrollbar {
            -webkit-appearance: none;
          }
          
          &::-webkit-scrollbar:vertical {
              width: 6px;
          }
          
          &::-webkit-scrollbar-button:increment,
          &::-webkit-scrollbar-button {
              display: none;
          } 
          
          &::-webkit-scrollbar:horizontal {
              height: 6px;
          }
          
          &::-webkit-scrollbar-thumb {
              background-color: var(--colorSecundario);
              border-radius: 20px;
          }
          
          &::-webkit-scrollbar-track {
              border-radius: 20px;  
          }
    
          @media (min-width: 768px) {
            // Notificación
            .admin__notify-card {
              display: flex;
              align-items: center;
    
              padding: 1rem;
              border-bottom: 1px solid var(--colorPrincipal);

              &:last-child {
                border-bottom: none;
              }
    
              .admin__notify-icon {
                width: 20px;
                height: 20px;
                padding: 1rem;
                border-radius: 50%;
                border: 2px solid var(--colorPrincipal);
                color: var(--colorPrincipal);
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }

    // Información
    .admin__content-information {
      padding: 2rem;
    }
  }
}