<div class="admin-list">
    <button class="btn btn-orange btn-create" routerLink="create">Crear Horario</button>

    <div class="admin-list__table">
        <table>        
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Turno</th>
                    <th>Hora</th>
                    <th>Edad</th>
                    <th>#Matrículas</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Registros</th>
                    <th>Acciones</th>
                </tr>
            </thead><!-- Cabecera -->
    
            <tbody>
                <tr *ngFor="let horario of horarios">
                    <td>{{ horario.order }}</td>
                    <td>{{ horario.nombre }}</td>
                    <td>{{ horario.turno }}</td>
                    <td>{{ horario.hora_inicial }} - {{ horario.hora_final }}</td>
                    <td>{{ horario.edad_min }} - {{ horario.edad_max }} años</td>
                    <td>{{ horario.cant_matriculas }}</td>
                    <td>{{ horario.fecha_inicial | formDate }}</td>
                    <td>{{ horario.fecha_final | formDate }}</td>
                    <td>
                        <a class="btn btn-white" [routerLink]="['/admin/students', horario.uid]">Ver</a>
                    </td>
                    <td class="admin-list__table-btn">
                        <button class="btn btn-orange" [routerLink]="['edit', horario.uid]">Editar</button>
                        <button class="btn btn-warn" (click)="eliminarHorario(horario.uid)">Eliminar</button>
                    </td><!-- Contenedor de Botones -->
                </tr>

                <tr *ngIf="horarios.length == 0">
                    <td colspan="10">No hay horarios</td>
                </tr>
            </tbody><!-- Lista -->
        </table><!-- Tabla de Horarios -->
    </div><!-- Contenedor Tabla -->
</div><!-- Horario-->