<div class="admin-list">
    <button class="btn btn-orange btn-create" routerLink="create">Crear Horario</button>

    <div class="admin-list__table">
        <table>        
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Turno</th>
                    <th>Hora</th>
                    <th>Edad</th>
                    <th>#Matrículas</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Registros</th>
                    <th>Acciones</th>
                </tr>
            </thead><!-- Cabecera -->
    
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Horario 1</td>
                    <td>Mañana</td>
                    <td>8:00 - 9:00</td>
                    <td>8 - 9 años</td>
                    <td>25</td>
                    <td>03/10/2022</td>
                    <td>03/02/2023</td>
                    <td>
                        <a class="btn btn-white" href="#">Ver</a>
                    </td>
                    <td class="admin-list__table-btn">
                        <button class="btn btn-orange" routerLink="edit/123">Editar</button>
                        <button class="btn btn-warn">Eliminar</button>
                    </td><!-- Contenedor de Botones -->
                </tr>
            </tbody><!-- Lista -->
        </table><!-- Tabla de Horarios -->
    </div><!-- Contenedor Tabla -->
</div><!-- Horario-->