<main class="auth">
    <video muted autoplay loop>
        <source src="../../../assets/video/video-portada-2.mp4" type="video/mp4">
    </video><!-- Video -->

    <div class="auth__container">
        <section class="auth__title">
            <div class="auth__title-logo" routerLink="/home">
                <h1>Forcrack</h1>
                <p>Perú</p>
            </div>
        </section><!-- Sección Izquierda -->
    
        <section class="auth__form">
            <nav class="auth__form-link">
                <a routerLink="/auth/login" routerLinkActive="active" class="btn">Iniciar sesión</a>
                <a routerLink="/auth/register" routerLinkActive="active" class="btn">Regístrate</a>
            </nav><!-- Enlaces -->
    
            <h2>¡Bienvenido!</h2>
    
            <form class="auth__form-content" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="auth__form-email">
                    <input class="none input" type="email" (input)="obtenerEmail($event)" placeholder="Corre electrónico*" required formControlName="email">
                    <p class="text-warn" *ngIf="campoNoValido('email')">* El email es obligatorio y tiene que ser válido</p>
                </div>
    
                <div class="auth__form-password">
                    <input class="none input" type="password" (input)="obtenerPass($event)" placeholder="Contraseña*" required formControlName="password" autocomplete="on">
                    <p class="text-warn" *ngIf="campoNoValido('password')">* La contraseña es obligatoria</p>
                </div>
    
                <div class="auth__form-submit">
                    <button class="btn btn-orange">Iniciar sesión</button>
                </div>
            </form><!-- Formulario -->
        </section><!-- Sección derecha -->
    </div><!-- Contenedor -->
</main><!-- Login -->

<div class="modal__auth">
    <app-modal-login [tiempo]="time" [code]="code" [email]="email" [password]="password"></app-modal-login>
</div>
