<main class="auth">
    <video muted autoplay loop>
        <source src="../../../assets/video/video-portada-2.mp4" type="video/mp4">
    </video><!-- Video -->

    <div class="auth__container">
        <section class="auth__title">
            <div class="auth__title-logo" routerLink="/home">
                <h1>Forcrack</h1>
                <p>Perú</p>
            </div>
        </section><!-- Sección Izquierda -->
    
        <section class="auth__form">
            <nav class="auth__form-link">
                <a routerLink="/auth/login" routerLinkActive="active" class="btn">Iniciar sesión</a>
                <a routerLink="/auth/register" routerLinkActive="active" class="btn">Regístrate</a>
            </nav><!-- Enlaces -->
    
            <h2>¡Bienvenido!</h2>
    
            <form class="auth__form-content" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="auth__form-email">
                    <input class="none input" type="email"  id="email-auth" placeholder="Corre electrónico*" required formControlName="email">
                </div>
    
                <div class="auth__form-password">
                    <input class="none input" type="password" id="password-auth" placeholder="Contraseña*" required formControlName="password" autocomplete="on">
                </div>
    
                <div class="auth__form-submit">
                    <button type="submit" class="btn btn-orange">Iniciar sesión</button>
                </div>
            </form><!-- Formulario -->
        </section><!-- Sección derecha -->
    </div><!-- Contenedor -->
</main><!-- Login -->