<div class="notify">
    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 1 día(s) para que pueda cancelar su matrícula, acaba el 30/11/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->

    <div class="notify__card">
        <fa-icon class="notify__card-icon" [icon]="faExclamation"></fa-icon>
        <p>Alumno le falta 2 día(s) para que pueda cancelar su pago mensual, acaba el 01/12/2022</p>
    </div><!-- Notificacion -->
</div><!-- Notificaciones -->