<header class="header">
    <div class="header__title">
        <h1>Forcrack</h1>
        <p>Perú</p>
    </div><!-- Titulo -->

    <input type="checkbox" id="nav-check">

    <label for="nav-check" class="header__mobile">
        <span></span>
    </label><!-- Menu bar - Mobile -->

    <nav class="header__navigation">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
        <a href="#">Regístrate</a>
    </nav><!-- Enlaces de navegación -->
</header><!-- Cabecera -->
