<header class="header">
    <div class="header__title">
        <h1>Forcrack</h1>
        <p>Perú</p>
    </div><!-- Titulo -->

    <input type="checkbox" id="nav-check">

    <label for="nav-check" class="header__mobile" (click)="headerFocus()">
        <span></span>
    </label><!-- Menu bar - Mobile -->

    <nav class="header__navigation">
        <a class="active" href="/home#inicio">Inicio</a>
        <a href="/home#nosotros">Nosotros</a>
        <a href="/home#contacto">Contacto</a>
        <a routerLink="form"><fa-icon [icon]="faList"></fa-icon> Regístrate</a>
    </nav><!-- Enlaces de navegación -->
</header><!-- Cabecera -->
