<div class="admin__password animate__animated animate__bounceOutLeft hidden" id="modal-pass">
    <form autocomplete="off" [formGroup]="securityForm" (ngSubmit)="actualizarSeguridad()" class="admin__password-form">
        <fa-icon (click)="cerrarModal()" class="admin__password-icon" [icon]="faXmark"></fa-icon>

        <div class="admin__password-content">
            <p>Ingrese su contraseña: </p>

            <input class="input none" type="password" formControlName="password" placeholder="Contraseña" autocomplete="off">

            <button class="btn btn-orange" type="submit">Actualizar</button>
        </div><!-- Contenido del formulario -->
    </form><!-- Formulario -->
</div><!-- Container -->
