<main class="home">
    <section class="home__top" id="inicio">
        <div class="home__invisible"></div>
        
        <video muted autoplay loop>
            <source src="../../../../../assets/video/video-portada-2.mp4" type="video/mp4">
        </video><!-- Video -->

        <div class="home__top-content">
            <h2>Academia Deportiva</h2>
            <p>Se parte de nuestros alumnos en <span>Forcrack Perú</span></p>

            <div class="home__top-data">
                <p>Horario de <strong>Lunes</strong> a <strong>Viernes</strong></p>
                <p>Alumnos de <strong>5</strong> a <strong>16</strong> años</p>
            </div>

            <a href="#" class="btn btn__transparent-orange">Registrate aquí <fa-icon [icon]="faArrowRight"></fa-icon></a>
        </div><!-- Información -->
    </section><!-- Portada -->

    <app-about-us></app-about-us><!-- Nosotros -->

    <app-contact></app-contact><!-- Contacto -->
</main><!-- Pantalla inicial -->
