tr {
    display: flex !important;

    @media (min-width: 2050px) {
        display: table-row !important;
    }
}

td, th {
    display: flex !important;

    padding: 2rem !important;
    width: 20rem !important;

    &:nth-child(1) {
        width: 8rem !important;
    }

    @media (min-width: 2050px) {
        display: table-cell !important;
        width: auto !important;
    }
}

td {
    padding: 1rem 2rem !important;
}

// Contenedor de Botones
.admin-list__table-btn {
    display: flex !important;
    justify-content: center !important;
}

p {
    padding: 1.5rem;
    width: 100%; 
    text-align: center;
}