<div class="admin-list">
    <button (click)="toReturn()" class="btn btn-white btn-create">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
        Atrás
    </button>

    <div class="admin-list__table">
        <table>        
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Turno</th>
                    <th>Hora</th>
                    <th>Edad</th>
                    <th>#Matrículas</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                </tr>
            </thead><!-- Cabecera -->
    
            <tbody *ngIf="horario">
                <tr>
                    <td>{{ horario.nombre }}</td>
                    <td>{{ horario.turno }}</td>
                    <td>{{ horario.hora_inicial }} - {{ horario.hora_final }}</td>
                    <td>{{ horario.edad_min }} - {{ horario.edad_max }} años</td>
                    <td>{{ horario.cant_matriculas }}</td>
                    <td>{{ horario.fecha_inicial | formDate }}</td>
                    <td>{{ horario.fecha_final | formDate }}</td>
                </tr>
            </tbody><!-- Lista -->
        </table><!-- Tabla de Horarios -->
    </div><!-- Contenedor Tabla -->
</div><!-- Horario-->