<section class="home__contact" id="contacto">
    <div class="home__contact-container">
        <h2>Contáctanos</h2>

        <p>Completa el siguiente formulario, y un miembro de nuestro equipo se pondrá en contacto con usted</p>

        <form autocomplete="off" [formGroup]="contactForm" (ngSubmit)="enviarContactanos()" class="home__contact-form">
            <div class="contact__form-2">
                <div class="contact__form-name content-input">
                    <input class="none input" type="text" placeholder="Ingrese su nombre*" required formControlName="nombre">
                </div><!-- Nombre -->

                <div class="contact__form-email content-input">
                    <input class="none input" type="email" placeholder="Ingrese su correo electrónico*" required formControlName="email">
                </div><!-- Email -->
            </div><!-- Contenedor de 2 inputs-->


            <div class="contact__form-2">
                <div class="contact__form-phone content-input">
                    <input class="none input" type="tel" placeholder="Ingrese su celular*" required formControlName="celular">
                </div><!-- Teléfono -->

                <div class="contact__form-affair content-input" (click)="selectClick($event)">
                    <input class="none input" type="text" placeholder="Seleccionar asunto*" [value]="valores.valueAffairs" readonly required formControlName="asunto">

                    <div class="option">
                        <div (mouseover)="viewSelect('Reclamación')">Reclamación</div>
                        <div (mouseover)="viewSelect('Consultas')">Consultas</div>
                    </div><!-- Opciones -->
                </div><!-- Selector -->
            </div><!-- Contenedor de 2 inputs -->

            <div class="contact__form-message content-input">
                <textarea class="none input" placeholder="Ingrese el mensaje*" required formControlName="mensaje"></textarea>
            </div><!-- Mensaje -->

            <div class="contact__form-submit">
                <button class="none btn btn-orange" type="submit">Enviar</button>
            </div><!-- Botón - Submit -->
        </form><!-- Formulario -->
    </div><!-- Contenedor -->
</section><!-- Contacto -->