<div class="form__admin max-width">
    <h3>Crear Registro</h3>

    <form autocomplete="off" [formGroup]="studentForm" (ngSubmit)="actualizarRegistro()" class="form__admin-container">
        <div class="form__admin-3">
            <div class="form__admin-names content-input">
                <label for="form-names">Nombres<span>*</span></label>
                <input class="none input" type="text" placeholder="Nombres" required formControlName="nombre">
                <p class="text-warn" *ngIf="campoNoValido('nombre')">* El nombre es obligatorio</p>
            </div><!-- Nombres -->

            <div class="form__admin-lastname content-input">
                <label for="form-lastname">Apellidos<span>*</span></label>
                <input class="none input" type="text" placeholder="Apellidos" required formControlName="apellido">
                <p class="text-warn" *ngIf="campoNoValido('apellido')">* El apellido es obligatorio</p>
            </div><!-- Apellidos -->

            <div class="form__admin-email content-input">
                <label for="form-email">Correo Electrónico<span>*</span></label>
                <input class="none input" type="email" placeholder="Correo electrónico" required formControlName="email">
                <p class="text-warn" *ngIf="campoNoValido('email')">* El correo electrónico es obligatorio</p>
            </div><!-- Correo Electrónico -->
        </div><!-- Contenedor de 3 inputs -->

        <div class="form__admin-2">
            <div class="form__admin-cel content-input">
                <label for="form-cel">Celular<span>*</span></label>
                <input class="none input" type="number" placeholder="Celular" required formControlName="celular">
                <p class="text-warn" *ngIf="verificarCelular()">* El celular es obligatorio y debe ser valido</p>
            </div><!-- Celular -->

            <div class="form__admin-dni content-input">
                <label for="form-dni">DNI<span>*</span></label>
                <input class="none input" type="number" placeholder="DNI" required formControlName="dni">
                <p class="text-warn" *ngIf="verificarDNI()">* El dni es obligatorio y debe ser valido</p>
            </div><!-- DNI -->
        </div><!-- Contenedor de 2 inputs -->

        <div class="form__admin-3">
            <div class="form__admin-age content-input" (click)="selectClick($event)">
                <label for="form-age">Edad<span>*</span></label>
                <input class="none input" type="number" min="5" max="16" (keyup)="obtenerHora()" placeholder="Edad*" required formControlName="edad">
                <p class="text-warn" *ngIf="campoNoValido('edad')">* La edad es obligatoria</p>

            </div><!-- Selector de edad -->

            <div class="form__admin-turn select content-input" (click)="selectClick($event)">
                <label for="form-turn">Turno<span>*</span></label>
                <input class="none input" type="text" placeholder="Turno" [value]="valores.valueTurn" readonly formControlName="turno">
                <p class="text-warn" *ngIf="campoNoValido('turno')">* El turno es obligatorio</p>

                <div class="option">
                    <div (mouseover)="viewCategories('Mañana', valores.valueHour); obtenerHora()">Mañana</div>
                    <div (mouseover)="viewCategories('Tarde', valores.valueHour); obtenerHora()">Tarde</div>
                    <div (mouseover)="viewCategories('Noche', valores.valueHour); obtenerHora()">Noche</div>
                </div><!-- Opciones -->
            </div><!-- Selector de turno -->

            <div class="form__admin-hour select content-input" (click)="selectClick($event)">
                <label for="form-hour">Hora<span>*</span></label>
                <input class="none input" type="datetime" placeholder="Hora" [value]="valores.valueHour" readonly formControlName="hora">
                <p class="text-warn" *ngIf="campoNoValido('hora')">* La hora es obligatoria</p>

                <div class="option">
                    <div *ngFor="let hora of horas" (mouseover)="viewCategories(valores.valueTurn, hora.hora_inicial + ' - ' + hora.hora_final); obtenerID()">
                        {{ hora.hora_inicial }} - {{ hora.hora_final }}
                    </div>
                    <div class="text-warn" *ngIf="horas.length === 0">No hay horario</div>
                </div><!-- Opciones -->
            </div><!-- Selector de hora -->
        </div><!-- Contenedor de 3 inputs-->

        <div class="form__admin-2">
            <div class="form__admin-2">
                <div class="form__admin-payOne select content-input" (click)="selectClick($event)">
                    <label for="form-payOne">Pago 1<span>*</span></label>
                    <input class="none input" type="text" id="form-payOne" placeholder="Pago 1" [value]="valores.valuePayOne" readonly>
    
                    <div class="option">
                        <div (mouseover)="viewPay('Pagado')">Pagado</div>
                        <div (mouseover)="viewPay('No Pagado')">No Pagado</div>
                    </div><!-- Opciones -->
                </div><!-- Pago 1 -->
    
                <div class="form__admin-payTwo select content-input" (click)="selectClick($event)">
                    <label for="form-payTwo">Pago 2<span>*</span></label>
                    <input class="none input" type="text" id="form-payTwo" placeholder="Pago 2" [value]="valores.valuePayTwo" readonly>
    
                    <div class="option">
                        <div (mouseover)="viewPay(undefined, 'Pagado')">Pagado</div>
                        <div (mouseover)="viewPay(undefined, 'No Pagado')">No Pagado</div>
                    </div><!-- Opciones -->
                </div><!-- Pago 2 -->
            </div><!-- Contenedor de 2 inputs-->

            <div class="form__admin-2">
                <div class="form__admin-payThree select content-input" (click)="selectClick($event)">
                    <label for="form-payThree">Pago 3<span>*</span></label>
                    <input class="none input" type="text" id="form-payThree" placeholder="Pago 3" [value]="valores.valuePayThree" readonly>
    
                    <div class="option">
                        <div (mouseover)="viewPay(undefined, undefined, 'Pagado')">Pagado</div>
                        <div (mouseover)="viewPay(undefined, undefined, 'No Pagado')">No Pagado</div>
                    </div><!-- Opciones -->
                </div><!-- Pago 3 -->
    
                <div class="form__admin-payFour select content-input" (click)="selectClick($event)">
                    <label for="form-payFour">Pago 4<span>*</span></label>
                    <input class="none input" type="text" id="form-payFour" placeholder="Pago 4" [value]="valores.valuePayFour" readonly>
    
                    <div class="option">
                        <div (mouseover)="viewPay(undefined, undefined, undefined, 'Pagado')">Pagado</div>
                        <div (mouseover)="viewPay(undefined, undefined, undefined, 'No Pagado')">No Pagado</div>
                    </div><!-- Opciones -->
                </div><!-- Pago 4 -->
            </div><!-- Contenedor de 2 inputs-->
        </div><!-- Contenedor de 2 inputs -->
        
        <div class="form__admin-submit">
            <button class="btn btn-orange" type="submit">Crear Registro</button>
            <button class="btn btn-white" (click)="toReturn()" type="submit">Cancelar</button>
        </div><!-- Botones -->
    </form><!-- Formulario -->
</div><!-- Formulario - Admin -->