<div class="auth__code animate__animated animate__bounceOutLeft hidden" id="modal-auth">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" class="auth__code-form">
        <fa-icon (click)="cerrarModal()" class="auth__code-icon" [icon]="faXmark"></fa-icon>

        <div class="auth__code-content">
            <p>Tiempo disponible para añadir el código: </p>

            <p class="auth__code-time" id="count-code">
                60 
            </p>

            <a (click)="timer(60); resendCode()">Reenviar el código</a>

            <input class="input none" (input)="obtenerCodigo($event)" type="text" placeholder="Colocar el código">

            <button class="btn btn-orange" type="submit">Ingresar</button>
        </div><!-- Contenido del formulario -->
    </form><!-- Formulario -->
</div><!-- Container -->
