<footer class="footer min-width">
    <div class="footer__up">
        <section class="footer__up-link">
            <h3>Enlaces</h3>

            <div class="footer__link-us">
                <a routerLink="form">Regístrate</a>
            </div><!-- Enlaces -->
        </section><!-- Contenido de los enlaces -->

        <section class="footer__up-information">
            <h3>Contáctanos</h3>

            <div class="footer__information-content">
                <div class="footer__information-address">
                    <p>Dirección:</p> 
                    <a href="#">Pj. 5 Mza. H Lote. 02 A.H. San Grabiel-Sector 25</a>
                </div>

                <div class="footer__information-email">
                    <p>Email:</p>
                    <a href="mailto:forcrackperu720@gmail.com">forcrackperu720@gmail.com</a>
                </div>

                <div class="footer__information-phone">
                    <p>Teléfono:</p>
                    <a href="tel:+51983841541">(+51) 983 841 541</a>
                </div>
            </div><!-- Información -->
        </section><!-- Contenido de la información -->

        <section class="footer__up-social">
            <h3>Redes sociales</h3>

            <div class="footer__social-neworks">
                <a href="https://www.facebook.com/profile.php?id=100063528723981" target="_blank">
                    <fa-icon [icon]="faSquareFacebook"></fa-icon>
                    Facebook
                </a>
                <a href="https://api.whatsapp.com/send?phone=%2B51983841541" target="_blank">
                    <fa-icon [icon]="faSquareWhatsapp"></fa-icon>
                    Whatsapp
                </a> 
                <a href="https://www.instagram.com/forcrackperu_720/" target="_blank">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                    Instagram
                </a>
            </div><!-- Redes sociales -->
        </section><!-- Contenido de Redes Sociales -->
    </div><!-- Contenido Footer -->

    <div class="footer__down">
        <p>&copy; Copyright {{ year }}, Forcrack Perú. Todos los derechos reservados.</p>
    </div><!-- Copyright -->
</footer><!-- Pie de página -->