<div class="admin-list">
    <div class="admin-list__table">
        <table>        
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo Electrónico</th>
                    <th>Celular</th>
                    <th>DNI</th>
                    <th>Horario</th>
                    <th>Matrícula</th>
                    <th>Acciones</th>
                </tr>
            </thead><!-- Cabecera -->
    
            <tbody *ngFor="let matricula of matriculas">
                <tr>
                    <td>{{ matricula.order }}</td>
                    <td>{{ matricula.nombre }}</td>
                    <td>{{ matricula.apellido }}</td>
                    <td>{{ matricula.email }}</td>
                    <td>{{ matricula.celular }}</td>
                    <td>{{ matricula.dni }}</td>
                    <td>
                        <a class="btn btn-white" [routerLink]="['/admin/schedule', matricula.horario]">Ver</a>
                    </td>
                    <td *ngIf="!matricula.matricula; else elseCheck">No pagado</td>
                    <ng-template #elseCheck>Pagado</ng-template>
                    
                    <td class="admin-list__table-btn">
                        <button class="btn btn-green" (click)="aceptarMatricula(matricula.uid)">Aceptar</button>
                        <button class="btn btn-warn" (click)="eliminarMatricula(matricula.uid)">Eliminar</button>
                    </td><!-- Contenedor de Botones -->
                </tr>
            </tbody><!-- Lista -->
        </table><!-- Tabla de Horarios -->
    </div><!-- Contenedor Tabla -->
</div><!-- Tabla - Admin -->


