<main class="form-registration">
    <div class="form-registration__image">
        <div class="home__invisible"></div>

        <section class="form__container-information medium-width">
            <h3>Información general</h3>

            <div class="form__information-important">
                <span>*</span>
                <p>Días definido de <strong>Lunes</strong> a <strong>Viernes</strong></p>
            </div><!-- Información importante -->

            <div class="form__information-important">
                <span>*</span>
                <p>Niños y jóvenes de <strong>5</strong> a <strong>16</strong> años de edad</p>
            </div><!-- Información importante -->

            <div class="form__information-important">
                <span>*</span>
                <p>Fecha de inicio: {{ 16 }} de {{ 07 }} del {{ 2022 }}</p>
            </div><!-- Información importante -->

            <div class="form__information-important">
                <span>*</span>
                <p>Para dudas: <a href="#">Click aquí</a></p>
            </div><!-- Información importante -->
        </section><!-- Información General -->
    </div><!-- Contenido imagen -->

    <div class="form-registration__container medium-width">
        <section class="form__container-information">
            <h3>Formulario</h3>

            <div class="form__information-important">
                <p>Completa y envía el formulario para comenzar el proceso de matrícula</p>
            </div>
        </section><!-- Información Formulario -->

        <form autocomplete="off" [formGroup]="enrollmentForm" (ngSubmit)="crearMatricula()" class="form__container-register">
            <div class="form__register-2">
                <div class="form__register-names content-input">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('nombre')">* El nombre es obligatorio</p>
                    <input class="none input" type="text" placeholder="Nombres*" required formControlName="nombre">
                </div><!-- Nombres -->

                <div class="form__register-lastName content-input">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('apellido')">* El apellido es obligatorio</p>
                    <input class="none input" type="text" placeholder="Apellidos*" required formControlName="apellido">
                </div><!-- Apellidos -->
            </div><!-- Contenedor de 2 inputs-->

            <div class="form__register-2">
                <div class="form__register-email content-input">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('email')">* El correo electrónico es obligatorio</p>
                    <input class="none input" type="email" placeholder="Correo electrónico*" required formControlName="email">
                </div><!-- Email -->

                <div class="form__register-phone content-input">
                    <p class="text-warn text-warn-top" *ngIf="verificarCelular()">* El celular es obligatorio y debe ser valido</p>
                    <input class="none input" type="tel" placeholder="Celular*" required formControlName="celular">
                </div><!-- Celular -->
            </div><!-- Contenedor de 2 inputs -->

            <div class="form__register-2">
                <div class="form__register-dni content-input">
                    <p class="text-warn text-warn-top" *ngIf="verificarDNI()">* El dni es obligatorio y debe ser valido</p>
                    <input class="none input" type="number" placeholder="DNI*" required formControlName="dni">
                </div><!-- DNI -->

                <div class="form__register-age content-input" (click)="selectClick($event);">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('edad')">* La edad es obligatoria</p>
                    <input class="none input" type="number" min="5" max="16" (keyup)="obtenerHora()" id="form-age" placeholder="Edad*" required formControlName="edad">
                </div><!-- Selector de hora -->
            </div><!-- Contenedor de 2 inputs-->

            <div class="form__register-2">
                <div class="form__register-turn select content-input" (click)="selectClick($event)">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('turno')">* El turno es obligatorio</p>
                    <input class="none input" type="text" placeholder="Turno*" [value]="valores.valueTurn" readonly formControlName="turno">

                    <div class="option">
                        <div (mouseover)="viewSelect('Mañana', valores.valueHour); obtenerHora()">Mañana</div>
                        <div (mouseover)="viewSelect('Tarde', valores.valueHour); obtenerHora()">Tarde</div>
                        <div (mouseover)="viewSelect('Noche', valores.valueHour); obtenerHora()">Noche</div>
                    </div><!-- Opciones -->
                </div><!-- Selector de turno -->

                <div class="form__register-hour select content-input" (click)="selectClick($event)">
                    <p class="text-warn text-warn-top" *ngIf="campoNoValido('hora')">* La hora es obligatoria</p>
                    <input class="none input" type="datetime" name="form-hour" placeholder="Hora*"  [value]="valores.valueHour" readonly formControlName="hora">

                    <div class="option">
                        <div *ngFor="let hora of horas" (mouseover)="viewSelect(valores.valueTurn, hora.hora_inicial + ' - ' + hora.hora_final); obtenerID()">
                            {{ hora.hora_inicial }} - {{ hora.hora_final }}
                        </div>
                        <div class="text-warn" *ngIf="horas.length === 0">No hay horario</div>
                    </div><!-- Opciones -->
                </div><!-- Selector de hora -->
            </div><!-- Contenedor de 2 inputs-->

            <div class="form__register-submit">
                <button class="btn btn-orange" type="submit">Enviar Formulario</button>
            </div>
        </form><!-- Formulario -->
    </div><!-- Contenedor del formulario -->
</main><!-- Registrarse  -->
